nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  background-color: white;
  padding: 12px 24px;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

nav > ul li {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.logo h1 {
  font-size: 24px;
}

.logo span {
  font-size: 30px;
}

.logout-button {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
