nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: ghostwhite;
  padding: 20px !important;
  font-family: 'Poppins', sans-serif;
  color: #2d2d2d;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

nav > ul li {
  list-style: none;
}

.logo a{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.logo h1 {
  font-size: 24px;
}

.logo span {
  font-size: 30px;
}

.logout-button {
  background-color: #2d2d2d;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 650px) {
  nav {
    padding-bottom: 0 !important;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo span {
    display: flex;
    align-items: center;
    font-size: 49px;
  }

  .logo h1 {
    display: none;
  }
}