nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  padding: 12px 24px;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

nav > ul li {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.logo h1 {
  font-size: 24px;
}

.logo span {
  font-size: 30px;
}
